[global]
ipsec saref = yes
saref refinfo = 30

[lns default]
ip range = 192.168.0.2-192.168.0.20
local ip = 192.168.0.1
refuse pap = yes
require authentication = yes
pppoptfile = /etc/ppp/options.xl2tpd
length bit = yes
